@font-face {
  font-family: "Mona Sans";
  src: url("./fonts/Mona-Sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* body {
  margin: 0;
  font-family: "Roboto" , sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  font-family: "Mona Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e1e1e1
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;